<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Заметки</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <header>
        <h1>Заметки</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
            {% for category, msg in messages %}
                <li><strong>{{ category }}:</strong> {{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    {% block content %}{% endblock %}
    </main>
</body>
</html>